<h1> Pag. de PRODUCTOS en vivo</h1>


{{!-- aca con este script, establecemos que la libreria que vamos a utilizar es la de "socket.io" que sale de la 
carpeta "node_modules" --> "" "client-dist" (que es una carpeta para el Front) -->"socket.io.js", y  buescamos 
configurar socket del lado del cliente --}}

<script src="socket.io/socket.io.js"></script> 